body.default{
	font-family:sans-serif;
}

.board-default{
	display:inline-block;
	border:1px solid black;
	width: 640px;
	height: 640px;
}

.board-default .square-default{
	display:inline-block;
	box-sizing:border-box;
	float:left;
	border:1px solid black;
	min-width:20px;
	min-height:20px;
}

.board-default .prestige{
	background-color: silver;
}

.board-default .square-default .black{
	background-color:black;
	display:inline-block;
	width:100%;
	height:100%;
}

.buttons-default{
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

.button01-default{
	display: inline-block;
	background-color:black;
	color:white;
	padding:20px;
	border:0;
	text-transform:uppercase;
	font-size:11px;
	text-align:center;
	cursor: pointer;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

.button02-default-off{
	display: inline-block;
	background-color: white;
	color: black;
	padding: 18px;
	border: 2px solid black;
	text-transform:uppercase;
	font-size:11px;
	text-align:center;
	cursor: pointer;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

.button02-default{
	display: inline-block;
	background-color:black;
	color: white;
	padding:20px;
	border:0;
	text-transform:uppercase;
	font-size:11px;
	text-align:center;
	cursor: pointer;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

.button03-default{
	display: inline-block;
	background-color:#dbdbdb;
	color:black;
	padding:20px;
	border:0;
	text-transform:uppercase;
	font-size:11px;
	text-align:center;
	cursor: pointer;
	float: right;
	margin-left: 5px;
	margin-right: 5px;
}

.button03-default-focus{
	display: inline-block;
	background-color:#dbdbdb;
	color:black;
	padding:18px;
	border:2px solid indianred;
	text-transform:uppercase;
	font-size:11px;
	text-align:center;
	cursor: pointer;
	float: right;
	margin-left: 5px;
	margin-right: 5px;
}

.button04-default{
	display: inline-block;
	float: left;
	padding: 10px;
	margin: 3px;
	text-align: center;
	background-color: white;
	border: 2px solid yellow;
	color: black;
	font-weight:bold;
	cursor:pointer;
	font-size:12px;
	cursor: pointer;
}

.history-default {
	border: 1px solid black;
	min-height:500px;
}

.historyHeader-default{
	padding: 5px 5px 2px 5px;
    font-weight: bold;
    border-bottom: 1px solid silver;
    font-size: 13pt;
    margin-bottom: 10px;
}

.historyContainer-default{
	margin-bottom: 20px;
}

.historyContainerItem-default{
	margin-left: 3px;
	margin-right: 3px;
}

.historyContainerItem-default .generation{
	float: left;
	width: 125px;
}

.historyContainerItem-default .generation .amount{
	float: right;
}

.historyContainerItem-default .lives{
	float: left;
	margin: 0px 2px 0px 2px;
	width: 50px;
	text-align: right;
}

.historyContainerItem-default .lives .square{
	display:inline-block;
	box-sizing:border-box;
	border:1px solid white;
	width:18px;
	height:18px;
	background-color:black;
	float: right;
	margin-left: 2px;
}

.historyContainerItem-default .ratio{
	float: left;
	margin: 0px 2px 0px 2px;
	width: 60px;
	text-align: right;
}

.historyContainerItem-default .message{
	float: left;
	margin: 0px 2px 0px 2px;
}

.historyContainerItem-default .fragmentBonus{
	float: left;
	text-align: right;
	margin: 0px 2px 0px 2px;
	width: 80px;
}


.infoCurrentGame-default{
	margin-top: 10px;
}

.infoGeneration-default{
	margin-top: 40px;
}

.infoMessage-default{
	display: none;
	position: absolute;
	top: 0px;
	width: 50%;
	padding: 10px;
	border-top: 0px;
	border-bottom: 2px solid indianred;
	border-left: 1px solid indianred;
	border-right: 1px solid indianred;
	background-color: white;
	font-weight: bold;
	left: 25%;
}

.paybutton-default{
	padding: 8px;
	margin-bottom: 3px;
	border: 1px solid black;
	color: black;
	cursor: pointer;
}

.paybutton-default-off{
	padding: 5px;
	margin-bottom: 3px;
	border: 1px solid silver;
	color: gray;
	cursor: pointer;
}

.paybutton-default-bonus{
	padding: 5px;
	margin-bottom: 3px;
	border: 1px solid yellow;
	color: black;
	cursor: pointer;
}

.progressMessage-default{
	display: none;
	position: absolute;
	top: 40px;
	width: 50%;
	padding: 10px;
	border-bottom: 2px solid green;
	border-top: 1px solid green;
	border-left: 1px solid green;
	border-right: 1px solid green;
	background-color: white;
	font-weight: bold;
	left: 25%;
}

.scoreboard-default{
	border: 1px solid black;
	margin-bottom: 10px;
}

.scoreboard-default .scoreboardHeader-default{
	padding: 5px 5px 2px 5px;
    font-weight: bold;
    border-bottom: 1px solid silver;
    font-size: 13pt;
    margin-bottom: 10px;
}

.scoreboard-default .scoreboardItem-default{
	padding: 0px 5px 5px 5px;
}

.title-default{
	font-size:28px;
	padding:10px;
}