div.clearfix{
	clear: both;
}

.page-container .page-left{
	float: left;
	width: 20%;
}

.page-container .page-center{
	float: left;
	width: 60%;
	text-align: center;
}

.page-container .page-right{
	float: left;
	width: 20%;
}













.page-container .history  .gamecounter{
	float: left;
	width: 40px;
	text-align: left;
	font-weight: bold;
	height: 25px;
}

.page-container .history  .round{
	float: left;
	width: 120px;
	text-align: left;
	height: 25px;
}

.page-container .history  .fragmentBonus{
	float: left;
	text-align: right;
	font-weight: bold;
	color: green;
	margin-left: 20px;
}

.page-container .history  .fields{
	float: left;
	width: 60px;
	text-align: right;
	height: 25px;
}

.page-container .history  .fields .text{
	height: 25px;
	float: right;
	margin-right: 5px;
}

.page-container .history  .fields .square{
	display:inline-block;
	box-sizing:border-box;
	border:1px solid white;
	width:18px;
	height:18px;
	background-color:black;
	float: right;
}

.page-container .history  .ratio{
	float: left;
	width: 80px;
	text-align: right;
	height: 25px;
}

.page-container .history  .message{
	float: left;
	width: 100px;
	text-align: left;
	font-style: italic;
	margin-left: 20px;
	height: 25px;
}

.page-container .highscores {
	display: none;
}

.page-container .highscores .text{
	float: left;
	display: block;
	width: 130px;
	text-align: left;
}

.page-container .highscores .text .subtext{
	float: left;
}

.page-container .highscores .text .square{
  border: 1px solid white;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 20px;
  width: 20px;
}

.page-container .highscores .text .square .black{
	background-color: black;
}

.page-container .highscores .value{
	float: left;
	display: block;
	width: 30px;
	margin: 0px 20px 0px 20px;
	text-align: right;
	font-weight: bold;
}

.page-container .highscores .spacer{
	margin-top: 10px;
}

.page-container .highscores .low{
	color: red;
}

.page-container .highscores .high{
	color: green;
}

.page-container .highscores .shops{
	margin-top: 20px;
}

.page-container .highscores .shops .paybutton{
	float: left;
	display: block;
	padding: 10px;
	margin: 3px;
	text-align: center;
	background-color: white;
	border: 2px solid lightgray;
	color: lightgrey;
	cursor:pointer;
	font-size:12px;
}

.page-container .highscores .shops .paybutton-active{
	float: left;
	display: block;
	padding: 10px;
	margin: 3px;
	text-align: center;
	background-color: white;
	border: 2px solid gray;
	color:black;
	font-weight:bold;
	cursor:pointer;
	font-size:12px;
}

.page-container #action-counter{
	font-family:sans-serif;
	font-size:15px;
	color:black;
	padding:10px;
	display: none;
}

.page-container #active-fields-counter{
	font-family:sans-serif;
	font-size:15px;
	color:black;
	padding:10px;
	display: none;
}
